<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433962590424-68s02o5dvk4jr9li1v9nfncugmnehur4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433962590424-68s02o5dvk4jr9li1v9nfncugmnehur4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>433962590424-ras8ve7ihr9nibeijghted92n99ome5f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCARfyAWol-xB3LQfwobIKBf8k_8L7cKyg</string>
	<key>GCM_SENDER_ID</key>
	<string>433962590424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.uniba2</string>
	<key>PROJECT_ID</key>
	<string>uniba-b00f5</string>
	<key>STORAGE_BUCKET</key>
	<string>uniba-b00f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433962590424:ios:7e323f2289c2c41e3637ad</string>
	<key>DATABASE_URL</key>
	<string>https://uniba-b00f5.firebaseio.com</string>
</dict>
</plist>